[color]
        ui = auto

[alias]
	st = status
	ci = commit
	co = checkout
        df = diff
        br = branch
	gn = grep -n
        tree = log --graph --pretty=oneline --decorate --date=short --abbrev-commit --branches

[user]
	name = mugijiru
	email = 106833+mugijiru@users.noreply.github.com
[core]
	editor = vim
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[github]
	user = mugijiru
