export DefaultIMModule=fcitx
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS="@im=fcitx"

# Set Display Resolution and Position
# if xrandr | grep "DP-2 disconnected"; then
#     xrandr --output eDP-1 --mode 2880x1620 --output DP-2 --off
# else
#     xrandr --output eDP-1 --mode 1920x1080 --right-of DP-2
# fi
autorandr --change


#####################
#  Keyboard Settings
#####################

# Disable Capslock
setxkbmap -option "ctrl:nocaps"

# Set Key Repeat
xset r rate 200 25

# for MD650L(チルダの位置が Esc になってるので調整)

## ESC as grave and asciitilde(Esc をチルダとして扱う)
xmodmap -e 'keycode 9 = grave asciitilde grave asciitilde'

## Ctrl Left as Esc(左 Ctrl を Esc として扱う)
xmodmap -e 'keycode 37 = Escape NoSymbol Escape'
